*.o
Makefile
*/Makefile
*/*/Makefile
*/*/*/Makefile
config.h
config.log
config.status
y.tab.c
y.tab.h
lib/intl/charset.alias
lib/intl/libgnuintl.h
lib/intl/ref-add.sed
lib/intl/ref-del.sed
pathnames.h
po/Makefile.in
po/POTFILES
stamp-h
